.NewDream{
    position: absolute;
    color: white;
}

.Title{
    font-size: 8vw;
    text-align: center;
    margin-bottom: 5vh;    
}

.Subtitle{
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1vh;
}

.FormsWrapper{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}

.Forms{
    margin-bottom: 5vw;
    border: solid #147ebb 3px;
    background: none;
    color: white;
    font-size: 4vw;
    outline: none;
}

textarea {
    height: 60vh;
    resize: none;
}

.TagsWrapper{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
}

.TagsWrappers__Inner{
    display: flex;
    margin-bottom: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid #147ebb 3px;
    padding: 2vw;
}

.Tags{
    background: none;
    border: solid #147ebb 2px;
    text-align: center;
    color: white;
    font-size: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 10vw;
    margin: 1vw;
    /* min-width: 15vw; */
    width: 40vw;
}